@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');

/* body{
  background: whitesmoke;
} */

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* .user{
  border: 2px solid fuchsia;
} */

.user-card{
  background: darkred;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  width: 350px;
  height: 400px;
  padding: 1%;
}

.followers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.follower-card{
  background: lightgrey;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  margin: 2%;
  padding: 1%;
}

h2{
  margin-top: 2%;
}




